<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Satellite Data Machine Learning</title>
  <link rel="icon" href="/static/icons/sputnik.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#myPage" id="mainBoxFull"> -->
      <a href="{{ url_for('index') }}" id="mainBoxFull">
        <img src="/static/icons/sputnik.png" , width="50" , height="50" , alt="Logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="#data">DATA</a></li>
        <li><a href="#algorithm">MODEL</a></li>
        <li><a href="#analysis">ANALYSIS</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Team</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="#">Contact Us</a></li> 
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Introductory pictures -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/pics/sentinel1.jpg" alt="sentinel1" width="1920" height="1080">
        <div class="carousel-caption">
          <h3>ESA Sentinel</h3>
          <p>The Copernicus Programme of ESA is currently developing seven missions under Sentinel.</p>
        </div>      
      </div>

      <div class="item">
        <img src="/static/pics/sentinel2.jpg" alt="sentinel2" width="1920" height="1080">
        <div class="carousel-caption">
          <h3>Vegetation, Fresh Water, and More</h3>
          <p>The extensive mapping of vegetation and its condition form key elements of programmes.</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="/static/pics/sentinel3.jpg" alt="sentinel3" width="1920" height="1080">
        <div class="carousel-caption">
          <h3>Human Activities</h3>
          <p>Getting satellite luminosity data right could help us better understand what works and what doesn't in urban development.</p>
        </div>      
      </div>

      <div class="item">
        <img src="/static/pics/sentinel4.jpg" alt="sentinel4" width="1920" height="1080">
        <div class="carousel-caption">
          <h3>Land Management</h3>
          <p>Satellite data is a powerful tool for urban & rural land management, from sustainable development to crisis monitoring.</p>
        </div>      
      </div>

      <div class="item">
        <img src="/static/pics/sentinel5.jpg" alt="sentinel5" width="1920" height="1080">
        <div class="carousel-caption">
          <h3>Multiple Spectra</h3>
          <p>The Sentinel-2 satellites will each carry a single multi-spectral instrument (MSI) with 13 spectral channels in the visible/near infrared (VNIR) and short wave infrared spectral range (SWIR).</p>
        </div>      
      </div>

      <div class="item">
        <img src="/static/pics/sentinel6.jpg" alt="sentinel6" width="1920" height="1080">
        <div class="carousel-caption">
          <h3>Ecosystem Protection</h3>
          <p>The protection of diverse ecosystems, such as the arctic ecosystem, can benefit from satellite technology which provides multiple indicators for risk factors such as climate change.</p>
        </div>      
      </div>

      <div class="item">
        <img src="/static/pics/sentinel7.jpg" alt="sentinel7" width="1920" height="1080">
        <div class="carousel-caption">
          <h3>Food Safety</h3>
          <p>The need to feed an ever increasing global population demands new technology. Satellite leads the initiative in guaranteeing our food safety by providing analysis, monitoring, and strategy for modern agriculture.</p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (The Main Section) -->
<div id="main" class="container text-center">
  <h3>DEEP LEARNING ON SATELLITE DATA</h3>
  <p ><em>When vision meets technology</em></p>
  <p style="text-align:left">The purpose of our project is to conduct a study on the land usage composition of our areas of interest. Our project engages resources in the following sections:</p>
  <p style="text-align:left">1) Cloud Resource: We used Amazon Web Service (AWS) for data storage and computing resources.</p>
  <p style="text-align:left">2) Computing Engine: For the algorithm to learn from satellite data, we employ a deep learning model - a Convoluted Neural Network (CNN) of 5 hidden layers.</p>
  <p style="text-align:left">3) Training and Test Data: For model training and validation, we used the Deepsat SAT-6 datasets - a total of 330,000 scenes classified into 6 categories spanning the whole of the Continental United States (CONUS). (REF: Saikat Basu, Sangram Ganguly, Supratik Mukhopadhyay, Robert Dibiano, Manohar Karki and Ramakrishna Nemani, DeepSat - A Learning framework for Satellite Imagery, ACM SIGSPATIAL 2015.)</p>
  <p style="text-align:left">4) Data to Study: We use planet.com API to obtain satellite data real-time, upon the user's request, on which we perform our machine learning study.</p>
  <p style="text-align:left">We have a comprehensive set of visualization on the land usage of Houston to present, but before that...</p>
  <br>
  <!-- Button to introduce map -->
  <button class="btn" data-toggle="modal" data-target="#myModal">BEGIN YOUR JOURNEY</button>
  <!-- <form action="{{ url_for('map') }}">
    <button class="btn" type="submit">BEGIN YOUR JOURNEY</button>
 </form> -->
</div>

  <!-- Modal (that shows up after you click the button)-->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4><span class="glyphicon glyphicon-globe"></span>BEGIN YOUR JOURNEY</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="{{ url_for('map') }}" >
              <div class="form-group">
                <label for="psw"><span class="glyphicon glyphicon-search"></span> Search by name</label>
                <input type="text" class="form-control" id="usrname" placeholder="Houston, TX">
              </div>
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-screenshot"></span> Or, input latitude/longitude</label>
                <input type="number" class="form-control" id="psw" placeholder="29.7604° N, 95.3698° W">
              </div>
                <button type="submit" class="btn btn-block">GO! 
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
            <p>Need <a href="#">help?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Team members: Ahmeda Cheick, Madelaine Davis, ZiAng Zhang</p> 
  <p>All rights reserved 2019</p> 
</footer>

<!-- JavaScript -->
<!-- Why is CSS always at the beginning and JavaScript always at the end? -->
<script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

</body>
</html>
