<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Satellite Data Machine Learning</title>
  <link rel="icon" href="/static/icons/sputnik.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#myPage" id="mainBoxFull"> -->
      <a href="{{ url_for('index') }}" id="mainBoxFull">
        <img src="/static/icons/sputnik.png" , width="50" , height="50" , alt="Logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('data') }}">DATA</a></li>
        <li><a href="{{ url_for('model') }}">MODEL</a></li>
        <li><a href="{{ url_for('analysis') }}">ANALYSIS</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Team</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="#">Contact Us</a></li> 
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Container (The Main Section) -->
<div></br></br></div>
<div id="main" class="container text-center">
  <h3>Our Model : Fine-Tuned ResNet-50 Neural Network</h3>

  <br>
  <p>ResNet is the Convolutinal Neural Netwrks of Microsoft team that won ILSRVC 2015 competetiona and surpass the human performance on ImageNet dataset. REsNet 50 is one of the version provided in experiments.</p>
  <p> As the name of the network indicates, the new terminology that this network introduces is residual learning.</p>
  <br>

  <row>
    <div class="myImg col-lg-12" >
      <img src="/static/images/residual_learning.png" alt="Model">
    </div>
  </row>

  <br>
  <p>Now that we have all the trainable parameters of our base network (ResNet-50), we would like to add a classifier on top of the convolutional base. We will simply add a fully connected layer followed by a softmax layer with 10 outputs.</p>
  <br>
  <!-- INSERT VISUALIZATION !!! -->
  <row>
    <div class="myImg col-lg-12" >
      <img src="/static/images/resnet.jpeg" alt="Model">
    </div>
  </row>

  <br>
  <p>After training for 20 epochs which took 6 hours on 8 CPUs, we were able to achieve a 96.6% accuracy with our model.</p>
  <row>
    <div class="myImg col-lg-12" >
      <img src="/static/images/model_accuracy.png" alt="Model">
    </div>
  </row>
  <br>

  <h4>References</h4>
  <p>[1] Deep Residual Learning for Image Recognition. fkahe, v-xiangz, v-shren, jiansung@microsoft.com arXiv:1512.03385v1 [cs.CV] 10 Dec 2015</p>
  <p>[2] https://medium.com/@sachinsharma9780/hands-on-experience-on-achieving-state-of-the-art-results-on-classifying-eurosat-satellite-images-91a9897f7433</p>
  <br>




<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Team members: Ahmeda Cheick, Madelaine Davis, ZiAng Zhang</p> 
  <p>All rights reserved 2019</p> 
</footer>

<!-- JavaScript -->
<!-- Why is CSS always at the beginning and JavaScript always at the end? -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script> -->

<script type="text/javascript" src="{{ url_for('static', filename='js/specific_analysis.js') }}"></script>

</body>
</html>
